@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
$Orange: hsl(25, 97%, 53%);
$White: hsl(0, 0%, 100%);
$LightGrey: rgb(149, 158, 172);
$MediumGrey: #7c8798;
$DarkBlue: #252d37;
$mainColor : #1c232D;
$VeryDarkBlue: #121417;
:export{
  Orange: $Orange;
  White:$White;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overpass";
  
}
