@import "config";

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 120vh;
  flex-direction: column;
  background-color: $Cream;
 
}


@media only screen and (min-width: 680px) {
  
}

@media only screen and (min-width: 1024px) {
  

}
